@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

:focus {
  outline: none;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #B0E212;
  color: #FFFFFF;
}